html{
  height: 100%;
  margin: 20px;
  padding: 0;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0;

}

#map {
  height: 300px;
  width: 300px;
  display: inherit;
}

#map-subtitle {
  color: black;
  display: inherit;
  vertical-align: top;
}

.subtitle {
  color:black;
  display: inherit;
  vertical-align:top-text;
}

.form{
  display: inline-block;
}

.dropdown{
  display: inline-block;
}