#submit_button{
  position: relative;
  width:50.333333%;
  left:0;
}


/*
#submit_button{
  position: absolute;
  width:100%;
  left:50%;
}

#submit_wrapper{
  position: absolute;
  top:0;
  left:0%;
}

#submit_button{
  position: absolute;
  width:100%;
  left:420px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  height: 100%;
  padding: 15px;
  width: auto;
}*/